Repository rajr5/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, flow focus-check --color always

fix channel tooltip styles / render issues
  package.json
  src/ui/component/button/view.jsx
  src/ui/component/channelLink/index.js
  src/ui/component/channelLink/view.jsx
  src/ui/component/common/channel-tooltip.jsx
  src/ui/component/common/channelThumbnail/index.jsx
  src/ui/component/common/markdown-preview-internal.jsx
  src/ui/component/common/preview-link.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/scss/component/_channel.scss
  src/ui/scss/init/_gui.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix overflow typo
  src/ui/scss/init/_gui.scss
Due: prettier --write

Chore: bump rc + sdk
  CHANGELOG.md
  package.json
Due: none

chore: bump proper
  package.json
Due: none

crude i18n support
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/index.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
  src/ui/redux/selectors/app.js
  src/ui/redux/selectors/settings.js
Due: prettier --write, eslint, flow focus-check --color always

address review feedback
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/component/header/index.js
  src/ui/component/sideBar/index.js
Due: prettier --write, eslint, flow focus-check --color always

add language files
  static/locales/en.json
  static/locales/pl.json
Due: none

move styles to _tooltip.scss
  src/ui/scss/component/_channel.scss
  src/ui/scss/component/_tooltip.scss
Due: prettier --write

convert previewLink to a connected component
  src/ui/component/claimLink/view.jsx
  src/ui/component/common/preview-link.jsx
  src/ui/component/previewLink/index.js
  src/ui/component/previewLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

merge channelLink and claimLink into one component
  src/ui/component/channelLink/index.js
  src/ui/component/channelLink/view.jsx
  src/ui/component/claimLink/index.js
  src/ui/component/claimLink/view.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/component/uriIndicator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove legacy methods from UriIndicator component
  src/ui/component/uriIndicator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

simplify auto-embed syntax
  src/ui/component/common/markdown-preview-internal.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/util/remark-lbry.js
Due: prettier --write, eslint, flow focus-check --color always

fix: allow auth token to persist if the browser is closed
  src/ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: claim search params
  src/ui/redux/actions/content.js
  src/ui/redux/actions/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  src/ui/component/fileList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

don't persist by default for FileList
  src/ui/component/fileList/view.jsx
  src/ui/page/fileListPublished/index.js
  src/ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: lbry icon spacing on web
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_wunderbar.scss
Due: prettier --write

fix: table style
  src/ui/scss/component/_table.scss
Due: prettier --write

fix: channel profile aligment
  src/ui/component/channelThumbnail/view.jsx
  src/ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

fix: tag params on tags page
  package.json
  src/ui/component/fileListDiscover/view.jsx
  src/ui/scss/component/_channel.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
