Repository rajr5/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, flow focus-check --color always

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "src/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

autoplay first related
  src/ui/component/fileRender/index.js
  src/ui/component/fileRender/view.jsx
  src/ui/component/viewers/videoViewer/index.js
  src/ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: ensure reward claim happens after file view request
  src/ui/analytics.js
  src/ui/component/fileViewer/view.jsx
  src/ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

use includes over indexOf
  src/ui/component/fileViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

basic search working on channels
  src/ui/page/channel/view.jsx
  src/ui/scss/component/_channel.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_wunderbar.scss
  static/locales/en.json
  static/locales/pl.json
Due: prettier --write, eslint, flow focus-check --color always

fix style
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_wunderbar.scss
Due: prettier --write

bump lbryinc
  package.json
  yarn.lock
Due: none

bump sdk to 0.40.1
  package.json
Due: none

v0.35.4-rc.2
  package.json
Due: none

fix: typo
  src/ui/component/fileViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.35.4-rc.3
  package.json
Due: none
