Repository rajr5/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, flow focus-check --color always

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "src/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

improve validation of lbry urls
  src/ui/util/remark-lbry.js
Due: prettier --write, eslint, flow focus-check --color always

fix validatenURI function
  src/ui/util/remark-lbry.js
Due: prettier --write, eslint, flow focus-check --color always

fix regular expression for lbry urls
  src/ui/util/remark-lbry.js
Due: prettier --write, eslint, flow focus-check --color always

new yarn.lock
  package.json
  yarn.lock
Due: none

update changelog
  CHANGELOG.md
Due: none

bump lbry-sdk to 0.37.2
  package.json
Due: none

update postinstall script
  package.json
  yarn.lock
Due: none

v0.33.0-rc.1
  package.json
Due: none

v0.33.0-rc.2
  package.json
Due: none

fix: tx list for claims with no name
  src/ui/component/transactionList/internal/transaction-list-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.33.0-rc.3
  package.json
Due: none

fix: comic book reader in prod
  src/ui/component/viewers/comicBookViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

formatting
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix render logic of non-playable files
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint, flow focus-check --color always

add sdk version in error report
  src/ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.33.0-rc.4
  package.json
Due: none

v0.33.0
  package.json
Due: none

fix toggleFullScreen method of player
  src/ui/component/fileActions/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/page/file/view.jsx
  src/ui/util/full-screen.js
Due: prettier --write, eslint, flow focus-check --color always

minor fixes for web
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix build
  .prettierignore
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_splash.scss
Due: prettier --write, eslint, flow focus-check --color always

Updated eslint ignore line
  src/ui/component/doodle/index.js
Due: prettier --write, eslint, flow focus-check --color always

Disable prettier for load-screen.scss
  .prettierignore
  src/ui/scss/component/_load-screen.scss
Due: prettier --write

cleanup
  .prettierignore
  build/downloadDaemon.js
  package.json
  src/platforms/electron/createWindow.js
  src/ui/component/splash/internal/load-screen.jsx
  src/ui/component/splash/view.jsx
  src/ui/scss/all.scss
  src/ui/scss/component/_load-screen.scss
  src/ui/scss/component/_modal.scss
  src/ui/scss/component/_splash.scss
  src/ui/scss/init/_vars.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

centered animation
  src/ui/component/doodle/index.js
  src/ui/component/splash/internal/load-screen.jsx
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_load-screen.scss
Due: prettier --write, eslint, flow focus-check --color always

NEW splash
  src/ui/component/doodle/index.js
  src/ui/component/splash/internal/load-screen.jsx
  src/ui/scss/component/_load-screen.scss
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  src/ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

create channel tooltip
  package.json
  src/ui/component/button/view.jsx
  src/ui/component/channelLink/index.js
  src/ui/component/channelLink/view.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/scss/component/_channel.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

minor fixes for channel tooltip
  src/ui/component/channelLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update api url (#2536)
  src/ui/component/viewers/videoViewer.jsx
  src/ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

auth header token
  package.json
  src/ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "app uses auth token header"
  package.json
  src/ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

auto-embed lbry urls
  package.json
  src/ui/component/channelLink/view.jsx
  src/ui/component/claimLink/index.js
  src/ui/component/claimLink/view.jsx
  src/ui/component/common/channel-tooltip.jsx
  src/ui/component/common/markdown-preview-internal.jsx
  src/ui/component/common/preview-link.jsx
  src/ui/component/common/truncated-text.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/scss/component/_markdown-preview.scss
  src/ui/util/remark-lbry.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix custom link attribute
  src/ui/util/remark-lbry.js
Due: prettier --write, eslint, flow focus-check --color always

fix markdown preview styles on description form
  src/ui/component/common/form-components/form-field.jsx
  src/ui/scss/component/_markdown-editor.scss
Due: prettier --write, eslint, flow focus-check --color always

detect formated links
  package.json
  src/ui/component/common/markdown-preview-internal.jsx
  src/ui/util/remark-lbry.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

add syntax to block auto-embed
  package.json
  src/ui/component/claimLink/view.jsx
  src/ui/component/common/markdown-preview-internal.jsx
  src/ui/util/remark-lbry.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

more fixes
  src/ui/component/channelLink/index.js
  src/ui/component/channelLink/view.jsx
  src/ui/component/channelThumbnail/index.js
  src/ui/component/common/channel-tooltip.jsx
  src/ui/component/common/channelThumbnail/gerbil.png
  src/ui/component/common/channelThumbnail/index.jsx
  src/ui/component/common/preview-link.jsx
  src/ui/component/externalLink/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/page/channel/index.js
  src/ui/page/channel/view.jsx
  src/ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

add note to reselect file on edit
  src/ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

auto select file on edit
  src/ui/page/file/index.js
  src/ui/page/file/view.jsx
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint, flow focus-check --color always
