Repository rajr5/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, flow focus-check --color always

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "src/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

remove un-needed style
  src/ui/scss/component/_claim-list.scss
Due: prettier --write

remove superfluous word
  src/ui/component/wunderbar/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

changelog love
  CHANGELOG.md
Due: none

make "I Understand" acknowledgement work for i18n case
  .tx/config
  src/ui/modal/modalWalletEncrypt/view.jsx
  static/app-strings.json
Due: prettier --write, eslint, flow focus-check --color always

fix dark-theme tooltip styles
  src/ui/scss/component/_tooltip.scss
Due: prettier --write

import tooltip styles for dark theme
  src/ui/scss/all.scss
Due: prettier --write

[dependencies] Add Freezeframe
  package.json
  yarn.lock
Due: none

[feature] Replace Freezeframe with FreezeframeLite
  src/ui/component/cardMedia/FreezeframeLite/classes.js
  src/ui/component/cardMedia/FreezeframeLite/index.js
  src/ui/component/cardMedia/FreezeframeLite/styles.scss
  src/ui/component/cardMedia/FreezeframeLite/templates.js
  src/ui/component/cardMedia/FreezeframeLite/utils.js
  src/ui/component/cardMedia/FreezeframeWrapper.jsx
Due: prettier --write, eslint, flow focus-check --color always

[docs] Update changelogfor GIF Animation Disabling
  CHANGELOG.md
Due: none

[package.json] Add dependencies for FreezeframeLite
  package.json
  yarn.lock
Due: none

[feature] Only animate CardMedia GIFs if hovering #2029
  src/ui/component/cardMedia/FreezeframeWrapper.jsx
  src/ui/component/cardMedia/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add markdown preview for comments
  src/ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix code styles on markdown render
  src/ui/scss/component/_markdown-preview.scss
Due: prettier --write

fix player fullscreen
  src/ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  src/ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
